<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<link rel="shortcut icon" href="{% static 'nooapp/images/infinity.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'nooapp/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'nooapp/css/slider.css' %}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'nooapp/js/jquery_slider/jquery.bxslider.js' %}"></script>
	<script src="{% static 'nooapp/js/mask.js' %}"></script>

	<script async type="text/javascript">
	 $(document).ready(function(){
		$('.bxslider').bxSlider({
				mode: 'fade',
				auto: true,
				moveSlides: 1,
				slideMargin: 0,
				infiniteLoop: true,
				slideWidth: 1200,
				minSlides: 1,
				maxSlides: 6,
				pause: 4000,
				speed: 700,
				touchEnabled: false
		});
	});
	</script>

	<title>NOO</title>
</head>
<body>
<div class="row r1">
		<div class="r01"></div>
		
		<div class="col-md-1"></div>

		<div class="col-md-10">
			<div class="row r02">
				<div class="row r-top"><p class="noo_name">noo</p>
				
				<ul class="menu1 pull-right">
					<li><a class="menu01 hypref" href="#more">Цены</a></li>
					<li><a class="menu01 hypref" href="#portfolio">Портфолио</a></li>
					<li><a class="menu01 hypref" href="#about-us">О нас</a></li>
					<li><a class="menu01 hypref" href="#contacts">Контакты</a></li>
				</ul>
				</div>
				<div class="row NOO_web">
					<p class="f40 title-p">NOO<span class="span_noo">web</span></p>
				</div>
				<div class="row slogan-mid">
					<p class="title-p">Лендинги Визитки Магазины Сервисы</p>
				</div>
				<div class="row r-bot"> 
					<ul class="menu2">
						<li><a class="but1 hypref" href="#more">Узнать больше</a></li>
						<li><a class="but2 hypref" href="#contacts">Связаться</a></li>
					</ul>
				</div>
			</div>
			<div class="row r2" id="more">
				<p class="title title-p">Чем мы занимаемся </p>
				<p class="descript">Noo web - это профессиональные услуги по разработке веб-приложений<br>
				В их числе:</p>
			</div>
			<div class="row r3">
				<div class="col-md-6 col-sm-12 col-xs-12 our-work-col-main">
					<div class="row our-work-row">
						<div class="col-md-6 col-sm-6 col-xs-6 our-work-col">
                            <div class="our-work">
                                <p class="ico4 ico">Веб-сервисы</p>
                                <p class="ico-description">Веб-приложение предоставляющее определенный
                                    функционал: от простого онлайн-калькулятора до масштабной информационной системы</p>
								<p class="price">От 86000 руб.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 our-work-col">
                            <div class="our-work">
                                <p class="ico2 ico">Интернет-магазины</p>
							    <p class="ico-description">Сайт, на котором пользователь может выбрать из каталога,
								заказать и оплатить товар, а также оформить доставку</p>
								<p class="price">От 25000 руб.</p>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 our-work-col-main">
					<div class="row our-work-row">
						<div class="col-md-6 col-sm-6 col-xs-6 our-work-col">
                            <div class="our-work">
                            <p class="ico3 ico">Сайты-визитки</p>
							<p class="ico-description">Небольшой сайт, содержащий информацию о компании.
								Сайт-визитка призван ознакомить клиента с организацией</p>
								<p class="price">От 8000 руб.</p>
                            </div>
                        </div>
						<div class="col-md-6 col-sm-6 col-xs-6 our-work-col">
                            <div class="our-work">
                                <p class="ico1 ico">Лендинги</p>
							    <p class="ico-description">Веб-страница с информацией о товаре или услуге.
								Лендинг увеличит продажи товара за приемлемую стоимость</p>
								<p class="price">От 6000 руб.</p>
                            </div>
                        </div>
					</div>
				</div>
			</div>

			<div class="row r4" id="portfolio">
				<p class="title title-p">Наше портфолио</p>
			</div>

			<div class="row r5">
					<div class="row example-web">
						<div class="col-md-4 solution">
							<a href="#">
								<div class="example example-first">
									<div class="example-text">
										<p>
											Интернет-магазин кондитерских изделий с классическим
											дизайном с понятным и приятным пользователю интерфейсом
										</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4 solution">
							<a href="#">
								<div class="example example-second">
									<div class="example-text">
										<p>
											Сайт-Визитка компании из Чехии. Деловой стиль и яркий дизайн подчеркивает
											серьезность и креативность компании
										</p>
									</div>
								</div>
							</a>
						</div>
                        <div class="col-md-4 solution">
							<a href="#">
								<div class="example example-thrid">
									<div class="example-text">
										<p>
											Интернет-магазин цветов. С продуманным интерфейсом заказ
											букета не потребует больше трех кликов
										</p>
									</div>
								</div>
							</a>
						</div>
                    </div>

			</div>
		</div>

			<div class="col-md-1"></div>
</div>


<div class="row r7a">
			<div class="col-md-1"></div>

			<div class="col-md-10">
				<div class="row r8" id="about-us">
					<p class="title title-p">О нас </p>
					<p class="descript">Проект NOO<sup>web</sup> основан в 2016 году c целью предоставляния<br>профессиональных услуг
						по разработке веб-приложений</p>
				</div>
				<div class="row">
					<div id="collage" class="col-md-8 col-md-offset-2 collage">
						<div class="collage-img collage-first">
							<div class="person person-first">
								<div class="person-descript-first person-descript">
									<p>
										Дмитрий<br>JavaScript-разработчик
									</p>
								</div>
							</div>
						</div>
						<div class="collage-img collage-second">
							<div class="person person-second">
								<div class="person-descript-second person-descript">
									<p>
										Никита<br>Python-разработчик
									</p>
								</div>
							</div>
						</div>
						<div class="collage-img collage-third">
							<div class="person person-third">
								<div class="person-descript-third person-descript">
									<p>
										Денис<br>JavaScript-разработчик
									</p>
								</div>
							</div>
						</div>
						<div class="collage-img collage-forth">
							<div class="person person-forth">
								<div class="person-descript-forth person-descript">
									<p>
										Александр<br>.NET-разработчик
									</p>
								</div>
							</div>
						</div>
						<div class="collage-img collage-fivth">
							<div class="person person-fivth"></div>
						</div>
						<div class="collage-img collage-sixth">
							<div class="person person-sixth"></div>
						</div>
						<div class="collage-img collage-seventh">
							<div class="person person-seventh"></div>
						</div>
					</div>
				</div>
				<div class="row r11" id="contacts">
					<p class="title title-p">Контакты </p>
					<p class="descript">Напишите нам, и мы свяжемся с вами в течение рабочего дня<br>
					Или позвоните нам по номеру +7(929)007-91-06</p>
				</div>
				<form action="" id="call-form">
                        {% csrf_token %}
				<div class="row foot00">
					<div class="col-md-2"></div>
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="col-md-5 col-sm-12 col-xs-12 data-fields">
							<div class="row">
								<div class="field-left fl col-md-12 col-sm-12 col-xs-12">
									<input required class="ft" type="tel" placeholder="Телефон (обязательно)" name="phone" id="phone">
								</div>
								<div class="field-mid fl col-md-12 col-sm-12 col-xs-12">
									<input class="fb" type="text" placeholder="Имя" name="name" id="name">
								</div>
							</div>
						</div>
						<div class="col-md-7 massage-field">
							<div class="field-right">
								<textarea class="fmax" placeholder="Ваше сообщение" name="message" id="message"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row row-but" id="row-but">
					<div class="but">
						<button class="post" type="submit">Отправить</button>
					</div>

				</div>
				</form>
			</div>
				


		<div class="col-md-1"></div>

</div>
<footer class="foot row">
	<div class="col-md-1 col-sm-1 col-xs-1"></div>
		<div class="f col-md-10 col-sm-10 col-xs-10">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-4 footer-left">
					<p class="footer_phone">+7(929)007-91-06</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 footer_mid">
					<p class="footer_noo_name">noo</p>
					<p class="des-foot">(c) 2016, Noo technologies</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 footer-right">
					<p class="footer_prava">Все права защищены</p>
					<a class="footer_conf" href="{% url 'nooapp:conf'%}">Политика конфиденциальности</a>
				</div>
			</div>
		</div>
	<div class="col-md-1"></div>
</footer>

</body>
<script type="text/javascript">
jQuery(function($){
   $("#phone").mask("+7(999)999-99-99");
});
</script>
<script>
        $(document).ready(function(){
			$('.hypref').click( function(){
			var scroll_el = $(this).attr('href');
				if ($(scroll_el).length != 0) {
					$('html, body').animate({ scrollTop: $(scroll_el).offset().top }, 700);
					}
					return false;
			});
});
</script>
<script>
	function close_call() {
            document.getElementById('row-but').innerHTML = '<div class="inner-text-call"><p>Отлично! Вскоре мы с вами свяжемся</p></div>';
		}
	$(document).ready(function() {
    $('#call-form').submit(function() {
        $.ajax({
            data: $(this).serialize(),
            type: "GET" ,
            url: "{% url 'nooapp:call'%}",
            dataType: "html",
            cache: false,
            success: function() {
                close_call()
            }
        });
        return false;
		});
    });
</script>
</html>
